<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Spring Boot WebSocket Group Chat</title>
    <link rel="stylesheet" th:href="@{/chatStyles.css}" />
</head>
<body>
	<header>
	        <h1>Real Time Sneak Chat</h1>
	        <nav>
	            <ul id="navLinks" class="nav-links">
	                <li style="margin-left:auto;"><a th:href="@{/logout}">Logout</a></li>
	            </ul>
	        </nav>
	    </header>

<div id="username-page">
<div class="username-page-container">
    <h1 class="title">Type your username to enter the Groupchat</h1>
    <form id="usernameForm" name="usernameForm">
        <div class="form-group">
            <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" required />
        </div>
        <div class="form-group">
            <button type="submit" class="accent username-submit">Enter ChatRoom</button>
        </div>
    </form>
</div>    
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
			<button id="logoutButton" class="accent small-logout">Logout</button>
            <h2>Real Time Sneak Group Chat</h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea">
            <!-- Messages will be dynamically added here -->
        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary need-change">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/js/chat.js}"></script>
<script>
	const logoutButton = document.getElementById('logoutButton');
	        logoutButton.addEventListener('click', () => {
	            window.location.href = '/logout';
	        });
</script>
</body>
</html>